interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=39.7559&longitude=-104.9942&hourly=temperature_2m%2Capparent_temperature%2Crelative_humidity_2m%2Csurface_pressure%2Cwind_speed_10m%2Cwind_direction_10m%2Cprecipitation_probability%2Ccloud_cover&timezone=GMT&wind_speed_unit=kmh&temperature_unit=celsius&precipitation_unit=mm
  response:
    body:
      string: "{\"latitude\":39.746895,\"longitude\":-104.987076,\"generationtime_ms\":0.41425228118896484,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":1585.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0C\",\"apparent_temperature\":\"\xB0C\",\"relative_humidity_2m\":\"%\",\"surface_pressure\":\"hPa\",\"wind_speed_10m\":\"km/h\",\"wind_direction_10m\":\"\xB0\",\"precipitation_probability\":\"%\",\"cloud_cover\":\"%\"},\"hourly\":{\"time\":[\"2026-04-22T00:00\",\"2026-04-22T01:00\",\"2026-04-22T02:00\",\"2026-04-22T03:00\",\"2026-04-22T04:00\",\"2026-04-22T05:00\",\"2026-04-22T06:00\",\"2026-04-22T07:00\",\"2026-04-22T08:00\",\"2026-04-22T09:00\",\"2026-04-22T10:00\",\"2026-04-22T11:00\",\"2026-04-22T12:00\",\"2026-04-22T13:00\",\"2026-04-22T14:00\",\"2026-04-22T15:00\",\"2026-04-22T16:00\",\"2026-04-22T17:00\",\"2026-04-22T18:00\",\"2026-04-22T19:00\",\"2026-04-22T20:00\",\"2026-04-22T21:00\",\"2026-04-22T22:00\",\"2026[...]
