interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://archive-api.open-meteo.com/v1/archive?latitude=39.7559&longitude=-104.9942&start_date=2024-07-15&end_date=2024-07-15&hourly=temperature_2m%2Capparent_temperature%2Crelative_humidity_2m%2Csurface_pressure%2Cwind_speed_10m%2Cwind_direction_10m%2Cprecipitation%2Ccloud_cover&timezone=GMT&wind_speed_unit=kmh&temperature_unit=celsius
  response:
    body:
      string: "{\"latitude\":39.753952,\"longitude\":-105.02086,\"generationtime_ms\":0.19800662994384766,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":1585.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\u00b0C\",\"apparent_temperature\":\"\u00b0C\",\"relative_humidity_2m\":\"%\",\"surface_pressure\":\"hPa\",\"wind_speed_10m\":\"km/h\",\"wind_direction_10m\":\"\u00b0\",\"precipitation\":\"mm\",\"cloud_cover\":\"%\"},\"hourly\":{\"time\":[\"2024-07-15T00:00\",\"2024-07-15T01:00\",\"2024-07-15T02:00\",\"2024-07-15T03:00\",\"2024-07-15T04:00\",\"2024-07-15T05:00\",\"2024-07-15T06:00\",\"2024-07-15T07:00\",\"2024-07-15T08:00\",\"2024-07-15T09:00\",\"2024-07-15T10:00\",\"2024-07-15T11:00\",\"2024-07-15T12:00\",\"2024-07-15T13:00\",\"2024-07-15T14:00\",\"2024-07-15T15:00\",\"2024-07-15T16:00\",\"2024-07-15T17:00\",\"2024-07-15T18:00\",\"2024-07-15T19:00\",\"2024-07-15T20:00\",\"2024-07-15T21:00\",\"2024-07-15T22:00\",\"2024[...]
