interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://statsapi.mlb.com/api/v1/schedule?sportId=1&startDate=2024-04-10&endDate=2024-04-10
  response:
    body:
      string: '{"copyright":"Copyright 2026 MLB Advanced Media, L.P.  Use of any content
        on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt","totalItems":14,"totalEvents":0,"totalGames":14,"totalGamesInProgress":0,"dates":[{"date":"2024-04-10","totalItems":14,"totalEvents":0,"totalGames":14,"totalGamesInProgress":0,"games":[{"gamePk":745923,"gameGuid":"af059a03-737f-4afa-80bb-9852119d65ac","link":"/api/v1.1/game/745923/feed/live","gameType":"R","season":"2024","gameDate":"2024-04-10T17:10:00Z","officialDate":"2024-04-10","status":{"abstractGameState":"Final","codedGameState":"F","detailedState":"Final","statusCode":"F","startTimeTBD":false,"abstractGameCode":"F"},"teams":{"away":{"team":{"id":119,"name":"Los
        Angeles Dodgers","link":"/api/v1/teams/119"},"leagueRecord":{"wins":10,"losses":5,"pct":".667"},"score":2,"isWinner":false,"splitSquad":false,"seriesNumber":5},"home":{"team":{"id":142,"name":"Minnesota
        Twins","link":"/api/v1/teams/142"},"leagueRecord":{"wins":4,"losses":6,"pct":".400"},"score":3,"isWinner":true,"splitSquad":false,"seriesNumber":4}},"venue":{"id":3312,"name":"Target
        Field","link":"/api/v1/venues/3312"},"content":{"link":"/api/v1/game/745923/content"},"isTie":false,"gameNumber":1,"publicFacing":true,"doubleHeader":"N","gamedayType":"P","tiebreaker":"N","calendarEventID":"14-745923-2024-04-10","seasonDisplay":"2024","dayNight":"day","scheduledInnings":9,"reverseHomeAwayStatus":false,"inningBreakLength":120,"gamesInSeries":3,"seriesGameNumber":3,"seriesDescription":"Regular
        Season","recordSource":"S","ifNecessary":"N","ifNecessaryDescription":"Normal
        Game"},{"gamePk":745196,"gameGuid":"ba6e0646-6305-478e-91da-44cf623d1342","link":"/api/v1.1/game/745196/feed/live","gameType":"R","season":"2024","gameDate":"2024-04-10T17:15:00Z","officialDate":"2024-04-10","status":{"abstractGameState":"Final","codedGameState":"F","detailedState":"Final","statusCode":"F","startTimeTBD":false,"abstractGameCode":"F"},"teams":{"away":{"team":{"id":143,"name":"Philadelphia
        Phillies","link":"/api/v1/teams/143"},"leagueRecord":{"wins":6,"loss[...]
