interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://statsapi.mlb.com/api/v1/schedule?sportId=1&startDate=2024-04-10&endDate=2024-04-10&hydrate=probablePitcher%2Clinescore
  response:
    body:
      string: "{\"copyright\":\"Copyright 2026 MLB Advanced Media, L.P.  Use of any
        content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt\",\"totalItems\":14,\"totalEvents\":0,\"totalGames\":14,\"totalGamesInProgress\":0,\"dates\":[{\"date\":\"2024-04-10\",\"totalItems\":14,\"totalEvents\":0,\"totalGames\":14,\"totalGamesInProgress\":0,\"games\":[{\"gamePk\":745923,\"gameGuid\":\"af059a03-737f-4afa-80bb-9852119d65ac\",\"link\":\"/api/v1.1/game/745923/feed/live\",\"gameType\":\"R\",\"season\":\"2024\",\"gameDate\":\"2024-04-10T17:10:00Z\",\"officialDate\":\"2024-04-10\",\"status\":{\"abstractGameState\":\"Final\",\"codedGameState\":\"F\",\"detailedState\":\"Final\",\"statusCode\":\"F\",\"startTimeTBD\":false,\"abstractGameCode\":\"F\"},\"teams\":{\"away\":{\"team\":{\"id\":119,\"name\":\"Los
        Angeles Dodgers\",\"link\":\"/api/v1/teams/119\"},\"leagueRecord\":{\"wins\":10,\"losses\":5,\"pct\":\".667\"},\"score\":2,\"isWinner\":false,\"probablePitcher\":{\"id\":676272,\"fullName\":\"Bobby
        Miller\",\"link\":\"/api/v1/people/676272\"},\"splitSquad\":false,\"seriesNumber\":5},\"home\":{\"team\":{\"id\":142,\"name\":\"Minnesota
        Twins\",\"link\":\"/api/v1/teams/142\"},\"leagueRecord\":{\"wins\":4,\"losses\":6,\"pct\":\".400\"},\"score\":3,\"isWinner\":true,\"probablePitcher\":{\"id\":663978,\"fullName\":\"Chris
        Paddack\",\"link\":\"/api/v1/people/663978\"},\"splitSquad\":false,\"seriesNumber\":4}},\"linescore\":{\"currentInning\":9,\"currentInningOrdinal\":\"9th\",\"inningState\":\"Top\",\"inningHalf\":\"Top\",\"isTopInning\":true,\"scheduledInnings\":9,\"innings\":[{\"num\":1,\"ordinalNum\":\"1st\",\"home\":{\"runs\":1,\"hits\":2,\"errors\":0,\"leftOnBase\":0},\"away\":{\"runs\":1,\"hits\":2,\"errors\":0,\"leftOnBase\":2}},{\"num\":2,\"ordinalNum\":\"2nd\",\"home\":{\"runs\":0,\"hits\":0,\"errors\":0,\"leftOnBase\":2},\"away\":{\"runs\":0,\"hits\":0,\"errors\":0,\"leftOnBase\":0}},{\"num\":3,\"ordinalNum\":\"3rd\",\"home\":{\"runs\":1,\"hits\":3,\"errors\":0,\"leftOnBase\":2},\"away\":{\"runs\":0,\"hits\":0,\"errors\":0,\"leftOnBase\":1}},{\"num\":4,\"ordinalNum\":\"4th\",\"home\":{\"runs\":0,\"hits\":0,\"errors\":0,\"leftOnBase\":0},\"away\":{\"ru[...]
